@import 'variables';
.card-course-item {
    margin-top: 16px;
    margin-left: 10px;
}

.user-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 4px;
}

.checkbox-select-all-options {
    width: 160px;
    margin: 0 16px;
}