<div class="mt-4">
    <form method="POST">
    <div class="mb-3">
        <label for="seach-input">Từ Khóa</label>
        <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Nhập từ khóa...">
        
    </div>
    <div class="mb-3">
        <label for="gender-input">Từ Khóa</label>
        <select name="gender" class="gender-control" id="exampleInputEmail1">
            <option value="">Chọn giới tính</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>
        
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>